/** {
  border: 1px solid red;
}*/

.navbar-brand {              /* Page Title */
font-family: 'Lobster';
color: black;
font-size: 3em;  
}

.nav li a{                    /* Navigation Bar CSS */
font-family: 'Titillium Web';
font-size: 2em;
color: #fff;
}

nav a:hover{                    /* Nav buttons hover */
  background-color: #fff;
  color: #333;
}

nav {                          /* Navbar Styling */
  background-color: #ADD8E6;
}

nav.navbar {
  margin-bottom: 0px;
}

.navbar-toggle .icon-bar {      /* Collapsed Navbar Button */
  display: block;
  width: 22px;
  height: 2px;
  background-color: #cccccc;
  border-radius: 1px;
}
h2 {
  font-family: 'Lobster';
  color: black;
  text-shadow: white 0.1em 0.1em 0.2em;
  font-size: 64px;
  text-transform: uppercase;
}

.jumbotron {                              /* front page styling, maybe add an ID to be able to use jumbotron quick styling on other pages. */
  text-align: center;
/*  font-family: 'Titillium Web';
  background-color: white;
  opacity: 0.7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

h1.home-title {
  font-family: 'Roboto';
  font-size: 5em;
  margin-bottom: 0;
  color: black;
}

.jumbotron h4 {
  font-family: 'Lobster';
}

.description {
  font-family: 'Titillium Web';
  text-align: center;
  font-size: 24px;
  margin-bottom: 150px;
}

.descriptionlogo {
  height: 150px;
  width: 150px;
}



/*.pages:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/skyscraper.jpg') no-repeat;
  background-size: cover;
  opacity: 0.6;
  z-index: -99;
}*/

#quote-box {
  width: 100%;
  background-size: cover;
  padding: 25px 0px;
}

.title-area{
  position: relative;
  top: 200px;
  text-align: center;
}

#main-container:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../../images/bluefuzzbg.jpg') no-repeat;
  background-size: cover;
  z-index: -99;
  opacity: 0.6;
}


.contact-icons {
  position: absolute;
  top: 15%;
  left: 25%;
}

.contactlogo {
  padding: 0 30%;
}

/* about page styling */

.about-header2 {
  text-shadow: black 0.1em 0.1em 0.2em;
  color: white;
  font-size: 32px;
  font-family: 'Condiment';
}

.skills-list {
  list-style: none;
}

.skill-name {
  font-family: 'Mate SC';
  font-size: 16px;
  border: 1px solid white;
  display: inline;
  color: white;
  padding: 3px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.project-text {
  font-style: bold;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.about-paragraph {
  font-size: 26px;
  border: 2px black solid;
}

.about-column {
  background-color: rgba(0,0,0,0.5);
  outline: rgba(0,0,0,.5) solid 1px;
  outline-offset: 2px;
}

.about-pic {
  max-width: 50%;
}

.about-section {
  position: absolute;
  top: 15%;
}

.about-text img {
  display: inline-block;
  border-radius: 100px;
}


#main-container {
  margin-top: 5%;
}

#main-container h4 a {
  color: inherit;
}

#main-html {
  /*margin-top: 100px;*/
}

h1 img {
  padding-bottom: 10px;
  width: 60px;
  height: 60px;
}

button.link {
     background:none!important;
     border: 2px solid black; 
     padding: 5px;
     font-family: 'Roboto';
     font-size: 1em;
     /*border is optional*/
/*     border-bottom:1px solid #444;*/ 
     cursor: pointer;
     color: black;
}


.homelogo {
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  z-index: 99;
}

.grayscale {
  filter: none;
  -webkit-filter: none;
}

.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  cursor: pointer;
}

/*ngAnimate testing*/

.accordion-toggle {
  position: relative;
}

a.accordion-toggle {
  text-decoration: none;
  color: inherit;
}

a.accordion-toggle:hover {
  cursor: pointer;
}

.accordion-toggle::before {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  opacity: 0;
}
.accordion-toggle.collapsed::before {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}
.accordion-toggle.collapsed::after {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.accordion-toggle::before,
.accordion-toggle::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -22px;
  width: 14px;
  height: 4px;
  margin-top: -2px;
  background-color: #000;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}

@media only screen
and (min-width : 0px)
and (max-width : 480px) {

.about-section {
  top: 5%;
}

.about-pic {
  text-align: center;
  width: 50%;
}

.pages {
  max-height: 1000px;
  float: none;
  width: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pages::-webkit-scrollbar {
    width: 6px;
    background-color: rgba(0,0,0,0.5);
} 

.portfolio-thumb {
  max-width: 325px;
}

}