<img class="homelogo hvr-rotate" src="images\home.png" ng-click="$location.path('/')">	
	<div class="container" id="main-container">
		<div class="row about-section">
  			<div class="col-md-4 about-column"><img class="about-pic" src="../images/headshotpencil.png">
  				<h2 class="about-header2">Name: Justin Goldby</h2>
  				<h2 class="about-header2">Age: 31</h2>
  				<h2 class="about-header2">From: California</h2>
  				<h2 class="about-header2">Status: Married</h2>
  				<h2 class="about-header2">Title: Web Developer Intern</h2>
  				</div>
  			<div class="col-md-6 col-md-offset-1 about-column">
  				<h2 class="about-header2">Skills</h2>
  					<ul class="skills-list">
  						<li class="skill-name">HTML5</li>
  						<li class="skill-name">CSS3</li>
  						<li class="skill-name">JavaScript</li>
  						<li class="skill-name">jQuery</li>
  						<li class="skill-name">AngularJS</li>
  						<li class="skill-name">NodeJS</li>
  						<li class="skill-name">Express</li>
  						<li class="skill-name">Bootstrap</li>
  						<li class="skill-name">Responsive</li>
  					</ul>
  				<h2 class="about-header2">Activities</h2>
  					<ul class="skills-list">
  						<li class="skill-name">Fishing</li>
  						<li class="skill-name">Hiking</li>
  						<li class="skill-name">Gaming</li>
  						<li class="skill-name">Gym</li>
  						<li class="skill-name">Cat Stuff</li>
  						<li class="skill-name">Cars</li>
  					</ul>
  				<h2 class="about-header2">Currently Learning</h2>
  					<ul class="skills-list">
  						<li class="skill-name">PHP</li>
  						<li class="skill-name">Wordpress</li>
  						<li class="skill-name">ES6</li>
  					</ul>
  				<h2 class="about-header2">Qualifications</h2>
  					<ul class="skills-list">
  						<li class="skill-name">BA Communications - Cal State Fullerton</li>
  						<li class="skill-name">TeamTreehouse - Full Stack Front End Tech Degree</li>
  						<li class="skill-name">TeamTreehouse - Various</li>
  						<li class="skill-name">Codecademy - Various</li>
  					</ul>
				</div>
		</div>
			
			
		</div>
	</div>

