 <div class="container-fluid">
	<img class="homelogo hvr-rotate" src="images\home.png" ng-click="$location.path('/')">
 </div>
 
<div class="container pages">
	<div class="row contact-icons">
		<div class="col-sm-4 description">
			<a href="https://github.com/goldbeedev"><img class="contactlogo hvr-grow" src="images\Github.png"></a>
				</div>
		<div class="col-sm-4 description">
			<a href="http://www.linkedin.com/in/justin-goldby-b0885b39"><img class="contactlogo hvr-grow" src="images\Linkedin.png"></a>
				</div>
		<div class="col-sm-4 description">
			<a href="mailto:goldbee500@gmail.com?subject=Hi Justin!"><img class="contactlogo hvr-grow" src="images\Google+.png"></a>
				</div>
	</div>
</div>