<div class="container pages jumbotron">
	<div class="row">
		<div class="col-sm-4 description">
			<a href="https://github.com/goldbeedev"><img class="contactlogo" src="images\Github.png"></a>
				</div>
		<div class="col-sm-4 description">
			<a href="http://www.linkedin.com/in/justin-goldby-b0885b39"><img class="contactlogo" src="images\Linkedin.png"></a>
				</div>
		<div class="col-sm-4 description">
			<a href="mailto:goldbee500@gmail.com?subject=Hi Justin!"><img class="contactlogo" src="images\Google+.png"></a>
				</div>
	</div>
</div>