<div class="container pages jumbotron">
	<div class="row">
		<div class="col-sm-4 description">
			<img class="contactlogo hvr-grow" src="images\quotespic.png" ng-click="portClick(portfolioTemplates[1].url)"></a>
				</div>
		<div class="col-sm-4 description">
			<img class="contactlogo hvr-grow" src="images\tictacpic.png" ng-click="portClick(portfolioTemplates[2].url); boardLoad()"></a>
				</div>
		<div class="col-sm-4 description">
			<img class="contactlogo hvr-grow" src="images\moviesearchpic.png" ng-click="portClick(portfolioTemplates[3].url)"></a>
				</div>
	</div>
	<div class="row">
		<div class="col-sm-4 description">
			<img class="contactlogo hvr-grow" src="images\paginationpic.png" ng-click="portClick(portfolioTemplates[4].url)"></a>
				</div>
		<div class="col-sm-4 description">
			<img class="contactlogo hvr-grow" src="images\twitterapppic.png" ng-click="portClick(portfolioTemplates[5].url)"></a>
				</div>
		<div class="col-sm-4 description">
			<img class="contactlogo hvr-grow" src="images\singlepagepic.png" ng-click="portClick(portfolioTemplates[6].url)"></a>
				</div>
	</div>
</div>