<div class="container pages" id="main-container">
	<div class="row">
		<div class="col-sm-4">
			<img class="portfolio-thumb hvr-grow" src="images\quotespic.png" ng-click="portClick(portfolioTemplates[1].url)">
				<p class="project-text">JS Quote Generator</p>
				</div>
		<div class="col-sm-4">
			<img class="portfolio-thumb hvr-grow" src="images\tictacpic.png" ng-click="tictacStart()">
				<p class="project-text">Tic Tac Toe JS</p>
				</div>
		<div class="col-sm-4">
			<img class="portfolio-thumb hvr-grow" src="images\moviesearchpic.png" ng-click="movieStart()">
				<p class="project-text">Movie Search</p>
				</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img class="portfolio-thumb hvr-grow" src="images\paginationpic.png" ng-click="portClick(portfolioTemplates[2].url)">
				<p class="project-text">jQuery Pagination</p>
				</div>
		<div class="col-sm-4">
			<img class="portfolio-thumb hvr-grow" src="images\redwolfpic.png" ng-click="portClick(portfolioTemplates[3].url)">
				<p class="project-text">Video Background Homepage</p>
				</div>
		<div class="col-sm-4">
			<img class="portfolio-thumb hvr-grow" src="images\singlepagepic.png" ng-click="recipeClick()">
				<p class="project-text">Angular Single Page App</p>
				</div>
	</div>
	</div>
</div>